*{
    text-align: center;
    box-sizing: border-box;
    color: #000000;
}
header ul {
    list-style-position: inside;
}
a{
    text-decoration: none;
    color: rgb(47, 47, 184);
}
.header-title{
    height: 70px;
}
.header-title h1{
    display: inline-block;
    vertical-align: middle;
}
.nav-div{
    background-color: #e4e4e4;
}
.nav-div ul{
    margin: 0;
    padding: 10px 0;
}
.section-div{
    margin-bottom: 20px;
    padding-top: 1px;
}
#main-div{
    padding: 20px; 
    text-align: center;
    background-color: rgb(42, 42, 42);
}
.section-wrapper{
    display: inline-block;
    height: 505px;
    box-sizing: border-box;
    vertical-align: top;
    padding: 20px;
    background-color: rgb(90, 90, 90);
}
#article-section-wrapper{
    width: 853px;
}
#article-section-wrapper article{
    height: 200px;
}
#projects-section-wrapper{
    width: 520px;
    margin-left:20px 
}
.img-wrapper {
    text-align: center;
    font-size: 0;
}
.img-wrapper img {
    display: inline-block;
    width: 245px;
    height: 245px;
}
.ml-35{
    margin-left: 35px;
}
.top-wrapper{
    margin-bottom: 20px;
    padding: 0 20px;
}
.project-list-div{
    height: 370px;
    text-align: left;
}
.project-list{
    display: inline-block;
}
footer{
    height: 90px;
}
.copyright-wrapper{
    display: block;
    height: 100%;
}
.copyright-wrapper p {
    display: inline-block;
    vertical-align: bottom;
    line-height: 100px;
}
.bg-gray { 
    background-color: #cdcdcd;
}


.content-box{
    background-color: rgb(230, 230, 230);
    border: 4px solid rgb(180, 189, 121);
}